.grid-3, .grid-4, .grid-6{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px;}
.grid-1 .grid-2{position:relative;margin-left:10px;margin-right:10px;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.grid-6{width:220px;}
.grid .grid-3{width:700px;}
.grid .grid-4{width:940px;}
.clearfix{*zoom:1;}
.clearfix:before,
.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
li.repo{width:220px;}